<div class="container">
  <h1>Dreams</h1>
  <div class="cards">
    <% @dreams.each do |d| %>

      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        <span>
        <%= d.title  %>
        </span>
      </div>
    <% end %>
    </div>
</div>
