// Specific CSS for your home-page

* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
        clear: both;

    }

a {
  color: #FA2EF5;
}

a:hover {
  text-decoration: none;
}


.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card {
  border-style: solid;
  border-color: #111111;
  border-width: 1px;
  height: 220px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  border-radius: 0;
}

.card:hover {
  box-shadow: 5px 5px 0 rgba(250, 46, 245, 1);
  border-radius: 0;
}

.card-content {
  text-align: center;
  margin: auto;
}

.btn {
  width: 100%;
  border-radius: 30px;
  padding: 15px 30px;
  background-color: #111111;
  color: white;
}

.btn:hover {
  background-color: #FA2EF5;
  color: white;
}

.cont {
  position: relative
}

#back {
  position:absolute;
  left: -35px;
  top: 30px;
}
