// Specific CSS for your home-page

.relative {
  position: relative;
  right: -900px;
  top: 75px;
}

// #dreamboard {
//   position: absolute;
//   left: 210px;
//   top: 175px;
// }

a {
  color: #FA2EF5;
}

a:hover {
  color: #111111;
  text-decoration: none;

}


// .scrolling-wrapper {
//   overflow-x: scroll;
//   overflow-y: hidden;
//   white-space: nowrap;

//   .scrolling-card {
//     display: inline-block;
//     border-style: solid;
//     border-color: #111111;
//     border-width: 1px;
//     height: 220px;
//     background-size: cover;
//     background-position: center;
//     background-repeat: no-repeat;
//     color: white;
//     border-radius: 0;
//   }

//   .scrolling-card:hover {
//   box-shadow: 5px 5px 0 rgba(250, 46, 245, 1);
//   border-radius: 0;
//   transform: translate(-5px, -5px);
// }
// }

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card {
  border-style: solid;
  border-color: #CCCCCC;
  border-width: 1px;
  height: 220px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  border-radius: 0;
}

.card:hover {
  box-shadow: 5px 5px 0 rgba(250, 46, 245, 1);
  border-radius: 0;
  transform: translate(-5px, -5px);
}

.card-content {
  text-align: center;
  margin: auto;
  padding: 15px;
}

.btn {
  width: 100%;
  border-radius: 30px;
  padding: 15px 30px;
  background-color: #111111;
  color: white;
  margin-right: 15px;
}

.btn:hover {
  background-color: #FA2EF5;
  color: white;
}

.cont {
  position: relative
}

#back {
  position: absolute;
  left: -35px;
  top: 30px;
}
#back1 {
  right: -45spx;
  top: 30px;
}

.back {
  margin: 30px;
}
