<!-- <div class="footer" style="text-align: center; color:white;" > -->
  <!-- <div class="footer-links" >
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div> -->
<div id="maindiv">
  <div id="div1">
    &nbsp;———— /////////// ————   Call 1-833-MAR-CIVE. Dial #000
     ———— /////////// ————   Call 1-833-MAR-CIVE. Dial #000
    ———— /////////// ————   Call 1-833-MAR-CIVE. Dial #000
    ———— /////////// ————   Call 1-833-MAR-CIVE. Dial #000

  </div>
  <div id="div2">
    &nbsp;———— /////////// ————   Call 1-833-MAR-CIVE. Dial #000
     ———— /////////// ————   Call 1-833-MAR-CIVE. Dial #000
    ———— /////////// ————   Call 1-833-MAR-CIVE. Dial #000
    ———— /////////// ————   Call 1-833-MAR-CIVE. Dial #000

  </div>
</div>
<!-- <div class="wrap"> -->




<!-- <span id="watchme">
  <span >———— /////////// ————&nbsp;&nbsp;&nbsp;Call 1-833-MAR-CIVE. Dial #000&nbsp;&nbsp;</span>
  <span >———— /////////// ————&nbsp;&nbsp;&nbsp;Call 1-833-MAR-CIVE. Dial #000&nbsp;&nbsp;</span>
  <span >———— /////////// ————&nbsp;&nbsp;&nbsp;Call 1-833-MAR-CIVE. Dial #000&nbsp;&nbsp;</span>
</span> -->

<!-- </div> -->
<!-- </div> -->
