
<div class="sidebar navbar-expand-sm navbar-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="sidebar_description">
    <%= link_to image_tag("inception.svg", :class => 'navbar-brand'), dreams_path %>
  </div>

  <div class="nav-link">
    <%= link_to dashboard_path do %>
      <% image_tag "home.svg", id: "profile" %>
    <% end %>
  </div>

</div>


<!-- author thanks for the icon -->
<!--
<div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"                 title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"                 title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->

