 <div class="banner" style="background-image: url('<%= image_url("http://eeerik.com/apps/WhoRU/img/6.nightmare.gif") %> ')">
</div>


 <div id="typewriter">
  the new technological era has arrived;
  humanity has reached neuroscientific advancements never known before;
  the world of fantasy, alternate universes and speculation is now our reality.
 </div>

