 <div class="banner" style="background-image: url('<%= image_url("http://eeerik.com/apps/WhoRU/img/6.nightmare.gif") %> ')">
</div>


 <div id="typewriter" class="d-flex justify-content-center p-5 m-5">
  the new technological era has arrived;
  humanity has reached neuroscientific advancements never known before;
  the world of fantasy, alternate universes and speculation is no our reality.
 </div>

