 <div class="banner" style="background-image: url('<%= image_url("http://eeerik.com/apps/WhoRU/img/6.nightmare.gif") %> ')">
  <div class="container">
    <div id="typewriter" class="d-flex">
     the new technological era has arrived;
     humanity has reached neuroscientific advancements never known before;
     the world of fantasy, alternate universes and speculation is now our reality.
    </div>
    <div class="d-flex justify-content-center">
      <%= link_to 'enter the multiverse', dreams_path, class: "btn home-btn", style: "width: 550px;" %>
    </div>
  </div>
</div>




