// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "banner";
@import "typed_text";
@import "our_container";
@import "customized_arrows";
@import "footer";

