
.sidebar_description {
    transform: rotate(90deg) translate(43%);
    transform-origin: center;
    line-height: 1;
    color: #fff;
    padding-left: 20px;
    position: relative;
}

.links {
  position: absolute;
  top: 30px;
}


.sidebar {
    justify-content: space-between;
    background-color: #111111;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    padding: 23px 0;
    position: fixed;
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 75px;
}

.nav-link img {
  max-width: 40px;
}

#profile {
  width: 100%
}

.dash {
  width: 21px;
  color: white;
}

.navbar-brand {
  height: 35px;
}
