
.sidebar_description {
    transform: rotate(90deg) translate(43%);
    transform-origin: center;
    line-height: 1;
    color: #fff;
    padding-left: 20px;
    position: relative;
    top: -200px;
}


.sidebar {
    justify-content: space-between;
    background-color: #3c3c3c;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    padding: 23px 0;
    position: fixed;
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 90px;
}

#sideicons {
  color: white;
}
